@model tp1_restaurant.Models.Reservation

@{
	ViewData["Title"] = "Création";
}

<div class="section" data-aos="fade-up">
	<div class="container">
		<div class="row section-heading justify-content-center mb-5">
			<div class="col-md-8 text-center">
				<h2 class="heading mb-3">Créer une reservation</h2>
			</div>
		</div>

		<form asp-action="Create" asp-controller="Reservation" method="post">
			<div class="form-row">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group col-md-6">
					<label asp-for="Prenom" class="control-label"></label>
					<input asp-for="Prenom" class="form-control" />
					<span asp-validation-for="Prenom" class="text-danger"></span>
				</div>
				<div class="form-group col-md-6">
					<label asp-for="Nom" class="control-label"></label>
					<input asp-for="Nom" class="form-control" />
					<span asp-validation-for="Nom" class="text-danger"></span>
				</div>
				<div class="form-group col-md-6">
					<label asp-for="TypeReservation" class="control-label"></label>
					<select asp-for="TypeReservation" asp-items="Html.GetEnumSelectList<TypeReservation>()" class="form-control">
						<option selected="selected" value="">Type Réservation</option>
					</select>
					<span asp-validation-for="TypeReservation" class="text-danger"></span>
				</div>
				<div class="form-group col-md-6">
					<label asp-for="Courriel" class="control-label"></label>
					<input asp-for="Courriel" class="form-control" />
					<span asp-validation-for="Courriel" class="text-danger"></span>
				</div>
				<div class="form-group col-md-6">
					<label asp-for="DateHeureReservation" class="control-label"></label>
					<input asp-for="DateHeureReservation" class="form-control" />
					<span asp-validation-for="DateHeureReservation" class="text-danger"></span>
				</div>
				<div class="form-group col-md-6">
					<label asp-for="NumeroTelephone" class="control-label"></label>
					<input asp-for="NumeroTelephone" class="form-control" />
					<span asp-validation-for="NumeroTelephone" class="text-danger"></span>
				</div>
				<div class="form-group col-md-6">
					<label asp-for="NombrePersonnes" class="control-label"></label>
					<input asp-for="NombrePersonnes" class="form-control" />
					<span asp-validation-for="NombrePersonnes" class="text-danger"></span>
				</div>
				<div class="form-group col-md-12">
					<input type="submit" value="Ajouter" class="btn btn-primary" />
				</div>
			</div>
		</form>

		<div>
			<a asp-action="Index">Retour à la liste</a>
		</div>
	</div>
</div> <!-- .section -->
